/*credit
- https://css-tricks.com/almanac/properties/a/animation/  //sourse code
- http://pngimg.com/uploads/ghost/ghost_PNG81.png  //image
*/
body {
    background: black;
    display: flex;
    overflow: hidden;
  }

  
  .container {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  #container1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container17,
  #container16,
  #container15,
  #container14,
  #container13,
  #container12,
  #container11,
  #container10,
  #container9,
  #container8,
  #container7,
  #container6,
  #container5,
  #container4,
  #container3,
  #container2,
  /*#container1*/{
    display: none;
    justify-content: center;
    align-items: center;
  }

  .btn {
    padding: 25px 50px;
    border: solid 2px #ffbdbd;
    border-radius: 20px;
    background: transparent;
    color: #ffbdbd;
    box-shadow: inset 0px 0px 30px 0px #ffbdbd;
    cursor: pointer;
    margin-right: 10px;
    width: 20em;
  }
  .btn:hover {
    color: #f1cbff;
    border: solid 2px #f1cbff;
    box-shadow: inset 0px 0px 30px 0px #f1cbff;
  }
  
  .btn-purple {
    color: #c9c9ff;
    border-color: #c9c9ff;
    box-shadow: inset 0px 0px 30px 0px #c9c9ff;
  }
  .btn-purple:hover {
    color: #e1f7d5;
    border-color: #e1f7d5;
    box-shadow: inset 0px 0px 30px 0px #e1f7d5;
  }
/*--header--*/
#header1 {
  position: absolute;
  font-family: 'Arial';
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.75;
  opacity: 0;
  justify-content: center;
  animation: light .5s ease-out alternate infinite;
}

@keyframes light{
  to {
    opacity: 1;
  }
}

@keyframes ligth {
  to {
    opacity: 0;
  }
}

#name{
  position: absolute;
  top: 30%
}
#exam{
  position: absolute;
  top: 30%;
}
#submitButton{
  position: relative;
  top: 25em;
}
.story{
  position: absolute;
  font-size: 2em;
  top: 10%;
  color: white;
}
#button1{
    position: relative;
    top: 25em; 
}
#button5{
      position: relative;
     top: 25em; 
}

#button3{
  position: relative;
  top: 25em;
  right: 50%;
}
#button4{
  position: relative;
  top: 25em;
  right: -50%;
}
.textPosition{
   position: absolute;
  top: 2em;
  justify-content: center;
    align-items: center;
}


/*input*/
.input {
  
  // needs to be relative so the :focus span is positioned correctly
  position:absolute;
  top: 30%;
  // bigger font size for demo purposes
  font-size: 1.5em;
  
  // the border gradient
  background: linear-gradient(21deg, #10abff, #1beabd);
  
  // the width of the input border
  padding: 3px;
  
  // we want inline fields by default
  display: inline-block;
  
  // we want rounded corners no matter the size of the field
  border-radius: 9999em;
  
  // style of the actual input field
  *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1; // needs to be above the :focus span
    
    // summon fancy shadow styles when focussed
    &:focus + span {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  // we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
  span {
    
    transform: scale(.993, .94); // scale it down just a little bit
    transition: transform .5s, opacity .25s;
    opacity: 0; // is hidden by default
    
    position:absolute;
    z-index: 0; // needs to be below the field (would block input otherwise)
    margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius: inherit;
    pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
    
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;


    // fancy shadow styles
    box-shadow: inset 0 0 0 3px #fff,
      0 0 0 4px #fff,
      3px -3px 30px #1beabd, 
      -3px 3px 30px #10abff;
  }
  
}

input {
  font-family: inherit;
  line-height:inherit;
  color:#2e3750;
  min-width:12em;
}

::placeholder {
  color:#cbd0d5;
}
